# docker-compose environment file
#
# When you set the same environment variable in multiple files,
# here’s the priority used by Compose to choose which value to use:
#
#  1. Compose file
#  2. Shell environment variables
#  3. Environment file
#  4. Dockerfile
#  5. Variable is not defined

### Publication Tracker
export API_DEBUG=true
export PUBLICATION_TRACKER_ADMINS_ROLE='publication-tracker-admins'
export CAN_CREATE_PUBLICATION_ROLE='Jupyterhub'
export API_USER_REFRESH_CHECK_MINUTES=5
export AUTHOR_REFRESH_CHECK_DAYS=1
export API_USER_ANON_UUID='00000000-0000-0000-0000-000000000000'
export API_USER_ANON_NAME='Anonymous API User'

# Task Timeout Interval
export ARC_DESCRIPTION='Author Refresh Check'
export ARC_NAME='author_refresh_check'
export ARC_TIMEOUT_IN_SECONDS=86400
export PSK_DESCRIPTION='Public Signing Key'
export PSK_NAME='public_signing_key'
export PSK_TIMEOUT_IN_SECONDS=86400
export TRL_DESCRIPTION='Token Revocation List'
export TRL_NAME='token_revocation_list'
export TRL_TIMEOUT_IN_SECONDS=300

### FABRIC
export FABRIC_CORE_API=<fabric_core_api_url>
export FABRIC_CREDENTIAL_MANAGER=<fabric_credential_manager_url>
export FABRIC_PORTAL=<fabric_portal_url>

### Vouch Proxy
export VOUCH_COOKIE_NAME=<vouch_cookie_name>
export VOUCH_JWT_SECRET=<vouch_jwt_secret>

### Django settings
export PYTHONPATH=./:./venv:./.venv
export DJANGO_ALLOWED_HOSTS='127.0.0.1'
export DJANGO_SECRET_KEY='django-insecure-58k5p&d&6ztt_i=l8$(94i&%s%h-kpznyu8^7m1pd=*wh@x^kr'
export DJANGO_DEBUG=true
export DJANGO_LOG_LEVEL='DEBUG'
export DJANGO_SESSION_COOKIE_AGE='14400'
export DJANGO_TIME_ZONE='America/New_York'
export REST_FRAMEWORK_PAGE_SIZE=5

# PostgreSQL database - default values should not be used in production
export HOST_DB_DATA=./db_data
export PGDATA=/var/lib/postgresql/data
export POSTGRES_HOST=127.0.0.1
export POSTGRES_DB=postgres
export POSTGRES_PASSWORD=default123!
export POSTGRES_PORT=5432
export POSTGRES_USER=postgres

### Nginx configuration
export NGINX_DEFAULT_CONF=./nginx/default.conf
export NGINX_NGINX_CONF=./nginx/nginx.conf
export NGINX_SSL_CERTS_DIR=./ssl

### uWSGI services in Django
export UWSGI_GID=1000
export UWSGI_UID=503
