{% load static %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
<div class="footer bg-light">
    <a
      href="https://portal.fabric-testbed.net"
      target="_blank"
      rel="noreferrer"
      class="link"
    >© FABRIC 2024</a>
    <div class="sm-font">
        FABRIC is supported in part by 
        <a
          href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1935966&HistoricalAwards=false"
          target="_blank"
          rel="noreferrer"
          class="link"
        ><b>a Mid-Scale RI-1 NSF award under Grant No. 1935966.</b></a>
    </div>
</div>